    <div class="container-fluid">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
                <h3>AlgoAnims</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
        <h4><a ui-sref="app">
                 Sort</a>
            <a ui-sref="app.search">
                 Search</a>
            <a ui-sref="app.graph">
             Graph</a>
             <a ui-sref="app.string">
              String</a>
        </h4>
      </div>
